altair==4.2.2
argparse==1.4.0
asyncio==3.4.3
blinker==1.5
chardet==3.0.4
fastapi==0.95.1
flower==2.0.0
fpdf2==2.7.4
fqdn==1.5.1
google-api-python-client==2.86.0
google-auth-oauthlib==1.0.0
google-cloud-vision==3.4.3
google-search-results==2.4.2
grpcio-status==1.56.0
guidance==0.0.55
h2==3.2.0
hstspreload==2023.1.1
httptools==0.5.0
isoduration==20.11.0
jsonpointer==2.3
jupyter==1.0.0
jupyterlab==3.5.2
keybert==0.7.0
langchain==0.0.231
markdown==3.4.3
matplotlib==3.6.3
pdf2image==1.16.3
pdfplumber==0.9.0
pinecone-client==2.2.1
pip-chill==1.0.3
playwright==1.36.0
pyarrow==11.0.0
pydeck==0.8.0
pympler==1.0.1
pypdf==3.9.1
pypdf2==3.0.1
pysocks==1.7.1
pytest==7.2.1
redis==4.6.0
reportlab==4.0.4
s3transfer==0.5.0
selenium==4.9.0
supabase==1.0.3
toml==0.10.2
tzlocal==4.2
uri-template==1.2.0
uvicorn==0.22.0
uvloop==0.17.0
validators==0.20.0
vercel==0.2.1
wandb==0.13.10
watchfiles==0.19.0
webcolors==1.13
webdriver-manager==3.8.6
wikipedia==1.4.0
